<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Form</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <input name="name" id="name" type="text" placeholder="Name">
        <br>
        <input name="username" id="username" type="text" placeholder="Username...">
        <br>
        <input name="password" id="password" type="password" placeholder="Password">
        <br>
        <input name="vpassword" id="vpassword" type="password" placeholder="Re-Type Password">
        <br>
        <input id="formOne" type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
    <a href="/login">Login</a>
    {{!-- <script src="index.js"></script> --}}
</body>
</html>